/*=================================================================*/
/*                      PRELOADER
/*=================================================================*/
.site-loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.site-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #118af1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #118af1 transparent transparent transparent;
}
.site-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.site-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.site-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#preloader {
  background: #FFF;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
#preloader .outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-md-7 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-md-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mb-0 {
  color: #000000;
}

.mb-0:hover {
  color: #666666;
}

#logo {
  height: 50px;
  width: 150px;
}

@font-face {
  font-family: 'avertastd1';
  src: url('avertastd-regular-webfont.woff') format('woff');
  src: url('avertastd-regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'avertastd2';
  src: url('avertastd-semibold-webfont.woff') format('woff');
  src: url('avertastd-semibold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: 'avertastd3';
  src: url('averta-black-webfont.woff') format('woff');
  src: url('averta-black-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: black;
}

h1 {
  font-family: 'avertastd3', Arial, Helvetica, sans-serif;
  font-weight: black;
  font-size: 3.3em;
  color: #011118;
  line-height: normal;
}

h2 {
  font-family: 'avertastd2', Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: 2.25em;
  color: #011118;
}

h3 {
  font-family: 'avertastd2', Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: 2em;
  color: #011118;
}

p {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 35px;
  font-weight: normal;
  font-size: 19px;
  color: #252525;
}

.p2 {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: normal;
  font-size: 21px;
  color: #252525;
  padding-top: 6px;
  padding-bottom: 13px;
}

.p3 {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 26px;
  font-weight: normal;
  font-size: 18px;
  color: #252525;
}

::selection {
  text-shadow: none;
  color: rgba(0,0,0,.99);
  background: #fee900;
}

::-moz-selection {
  text-shadow: none;
  color: #rgba(0,0,0,.99);
  background: #fee900;
}

.dark_mode ::selection {
  text-shadow: none;
  color: #fff;
  background: #118af1;
}

.dark_mode ::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #118af1;
}

.bold {
  font-weight: 600;
  color: #011118;
}

body {
  background-color: #FAFAFA;
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active,
 .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #001119;
    font-family: 'avertastd2', Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #636363;
    font-weight: normal;
    font-family: 'avertastd1', Arial, Helvetica, sans-serif;
}

.navbar-light {
  background-color: #FAFAFA !important;
}

.navbar {
  margin-top: 12px;
}

.btn-primary {
  padding: .7rem 2.45rem;
  background-image: linear-gradient(to right, rgba(17,138,241,1) 0%, rgba(17,191,241,1) 100%);
  background-repeat: repeat-x;
  background-color: #118af1;
  border: none;
}

.btn-primary:hover {
  background-color: #118af1;
  border-color: #118af1;
}

.shadow {
    box-shadow: 0 0.3rem .8rem rgba(0,0,0,.12)!important;
}

a {
  color: #118af1;
}

a:hover {
  color: #118af1;
}

.rounded {
  border-radius: .35rem!important;
}

footer {
  padding-bottom: 16px;
  margin-top: 40px;
}

#intro {
  padding-top: 3.5em;
  padding-bottom: 4em;
}

#out {
  padding-bottom: 2.5em;
}

#icon {
  text-decoration: none;
}

.footer-icon {
  text-decoration: none;
}

.fa-envelope {
  color:hsla(0, 0%, 0%, 0.5);
}

.fa-envelope:hover {
  color: #0a0a16;
}

.fa-linkedin-in {
  color:hsla(0, 0%, 0%, 0.5);
}

.fa-linkedin-in:hover {
  color: #0a0a16;
}

.fa-github {
  color:hsla(0, 0%, 0%, 0.5);
}

.fa-github:hover {
  color: #0a0a16;
}

.fa-twitter {
  color:hsla(0, 0%, 0%, 0.5);
}

.fa-twitter:hover {
  color: #0a0a16;
}

.fa-instagram {
  color:hsla(0, 0%, 0%, 0.5);
}

.fa-instagram:hover {
  color: #0a0a16;
}

.navbar-nav > li{
  padding-left:.3em;
  padding-right:.3em;
}

.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  background: none;
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .17s linear;
  transition:all .17s linear;
}

.hovereffect:hover img {
  -ms-transform:scale(1.04);
  -webkit-transform:scale(1.04);
  transform:scale(1.04);
}

.overlayx {
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .17s linear;
  background-color: #118af1;
}

.dark_mode .overlayx {
  background-color: #00c3a8;
}

.hovereffect:hover .overlayx {
  opacity: .75;
}

.dark_mode .hovereffect:hover .overlayx {
  opacity: .85;
}

.hovereffect:hover .hovertext {
  opacity: 1;
}

.hovertext {
  color: #fff;
  font-size: 2.4em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0
}

.cog-dropdown {
  color: #011118;
  border: 0;
  background: transparent;
  outline: none;
  vertical-align: text-bottom;
  display: inline-block;

}

.cog-dropdown:focus {
  outline: 0;
}

.cog-dropdown:after {
  border: 0;
  margin: 0;
}

.cog-dropdown i {
  font-size: 16px;
  visibility: visible;
  z-index: 1;
  display: inline-block;
}

.icon-cog {
  height: 20px;
  width: 20px;
  color: #011118;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 21px;
  align-self: center;
  margin-bottom: 0;
  vertical-align: middle;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #29d44e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider {
  border-radius: 30px;
}

.slider:before {
  border-radius: 50%;
}

.container {
  position: relative;
}

/* Dark mode */
body.dark_mode {
  background: #1f1f1f;
  color: #FFF;
}

.dark_mode #preloader {
  background: #1f1f1f;
}

.dark_mode .site-loader div {
  border: 6px solid #118af1;
  border-color: #118af1 transparent transparent transparent;
}

.dark_mode .screen {
  background-image: url('../images/header2.jpg');
  background-size: cover;
  min-height: 370px;
  width: 100%;
}

.screen {
  background-image: url('../images/header3.jpg');
  background-size: cover;
  min-height: 370px;
  width: 100%;
}

.navbar-brand {
  display: block;
  background-image: url('../images/logo8.png');
  background-size: contain;
  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
}

.dark_mode .navbar-brand {
  display: block;
  background-image: url('../images/logo-light.png');
  background-size: contain;
  min-width: 150px;
  max-width: 150px;
  min-height: 50px;
}

.dark_mode footer .navbar-brand {
  display: inline-block;
}

.dark_mode .bg-light {
    background-color: #1f1f1f!important;
}

.dark_mode .navbar-light .navbar-nav .nav-link {
    color: #bfbfbf;
}

.dark_mode .icon-cog path {
  fill: #f9f9f9;
}

.dark_mode .dropdown-menu {
  background: #303030;
}

.dark_mode .dropdown-item {
  color: #f9f9f9;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}

.dark_mode .dropdown-item:focus, .dark_mode .dropdown-item:hover {
    background-color: transparent;
}

.dark_mode .footer-icon i {
  color: #f9f9f9;
}

.dark_mode h1, .dark_mode h2, .dark_mode h3, .dark_mode h4, .dark_mode h5, .dark_mode h6, .dark_mode ul, .dark_mode li {
  color: #f9f9f9;
}

.dark_mode p, .dark_mode span {
  color: #dadada;
}

.dark_mode .bigtext {
  color: #f9f9f9;
}

.dark_mode .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dark_mode .navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.dark_mode .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.dark_mode .light-green-bg, .dark_mode .light-blue-bg, .dark_mode .light-gray-bg  {
  background: #303030;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.27);
  border-style: solid;
  border-color: #252525;
}

.dark_mode .sub-desc {
  background: #292929;
  border-style: none;
  box-shadow: 0px 0px 0px #2f2f2f,
             -0px -0px 0px #313131;
}

.dark_mode .project-footer .link {
  color: #f9f9f9;
}

.dark_mode .project-footer .link:hover {
  color: #118af1;
}

.dark_mode .project-footer .link img.light {
  display: inline-block;
}

.dark_mode .project-footer .link img.dark {
  display: none;
}

.dropdown > .dropdown-menu {
  animation-name: slidenavAnimation;
  animation-duration:.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
      -webkit-transform: scale(0.5);
  }
  to {
      -webkit-transform: scale(1);
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
      -webkit-transform: scale(0.5);
  }
  to {
      -webkit-transform: scale(1);
  }
}

#aboutheader {
  padding-top: 2.7em;
  padding-bottom: 3em;
}

.abouttext {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 35px;
  font-weight: normal;
  font-size: 19px;
}

#aboutimage {
  padding-bottom: 3.68em;
}

#abouttext2 {
  padding-bottom: 4.9em;
}

#aboutimage2 {
  padding-bottom: 2.4em;
}

#aboutimage3 {
  padding-bottom: 30px;
}

.sub-desc {
  border-radius: 10px;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: thin;
  color: #252525;
  font-size: 16px;
  background: #ffffff;
  line-height: 24px;
  padding: 15px 20px;

}

.light-blue-bg {
  border-radius: 8px;
  background: #ffffff;
  padding: 25px 30px 0;
  box-shadow: 0px 6px 18px -7px rgba(0,0,0,0.35);
}

.light-green-bg {
  border-radius: 8px;
  background: #ffffff;
  padding: 25px 30px 0;
  box-shadow: 0px 6px 18px -7px rgba(0,0,0,0.35);
}

.light-gray-bg {
  border-radius: 8px;
  background: #ffffff;
  padding: 25px 30px 0;
  box-shadow: 0px 6px 18px -7px rgba(0,0,0,0.35);
}

.project-img {
  text-align: center;
  display: inline-block !important;
}

.project-content {
  margin-right: 40px !important;
}

.project-footer {
  margin: 0 20px;
}

.project-footer .link {
  font-size: 18px;
  color: #011118;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition:all .05s linear;
  transition:all .05s linear;
}

.project-footer .link:hover {
  color: #118af1;
}

.project-footer .link img.light {
  display: none;
}

.project-footer .link.icon-left img {
  margin-right: 13px;
}

.project-footer .link.icon-right img {
  margin-left: 13px;
}

.project-footer .link.icon-right {
  float: right;
}

footer .navbar-brand {
  display: inline-block;
}

.navbar-light .navbar-toggler {
    outline: 0;
}

@media (max-width: 991px) {
  .cog-wrapper {
    position: absolute;
    right: 80px;
    top: 10px;
  }
  .navbar-collapse {
    border: solid 1px #EEE;
    border-radius: 5px;
  }
  .dark_mode .navbar-collapse {
    border: solid 1px rgba(255,255,255,.1);
  }
  .navbar-nav > li {
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-bottom: solid 1px #EEE;
  }
  .navbar-nav > li:last-child {
    border-bottom: 0;
  }
  .dark_mode .navbar-nav > li {
    border-bottom: solid 1px rgba(255,255,255,.1);
  }
  .project-content {
    margin-right: 0px !important;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  .project-footer {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .project-footer {
    margin-top: 25px;
  }
}

@media (max-width: 1200px) {
  .sub-desc {
    padding: 10px 15px;
  }
}

.project-footer .link.icon-right {
  float: right;
}

.project-footer .link.icon-right {
  background-image: url('../images/arrow-dark.png');
  background-size: 18px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.project-footer .link.icon-right:hover {
  background-image: url('../images/arrow-dark-hover.png');
}

.dark_mode .project-footer .link.icon-right {
  background-image: url('../images/arrow-light.png');
  background-size: 18px;
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.dark_mode .project-footer .link.icon-right:hover {
  background-image: url('../images/arrow-dark-hover.png');
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

hr {
  border-top: 1.5px solid rgba(0,0,0,.1);
}

.dark_mode hr {
  border-top: 1.5px solid #464646;
}
