.col-md-7 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-md-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mb-0 {
  color: #000000;
}

.mb-0:hover {
  color: #666666;
}

#logo {
  height: 50px;
  width: 150px;
}



@font-face {
  font-family: 'avertastd1';
  src: url('avertastd-regular-webfont.woff') format('woff');
  src: url('avertastd-regular-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'avertastd2';
  src: url('avertastd-semibold-webfont.woff') format('woff');
  src: url('avertastd-semibold-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: medium;
}

@font-face {
  font-family: 'avertastd3';
  src: url('averta-black-webfont.woff') format('woff');
  src: url('averta-black-webfont.woff2') format('woff2');
  font-style: normal;
  font-weight: black;
}


h1 {
  font-family: 'avertastd3', Arial, Helvetica, sans-serif;
  font-weight: black;
  font-size: 3.3em;
  color: #0a0a16;
}


h2 {
  font-family: 'avertastd2', Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: 2.25em;
  color: #0a0a16;
}

h3 {
  font-family: 'avertastd2', Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: 2em;
  color: #0a0a16;
}

p {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 27px;
  font-weight: normal;
  font-size: 16px;
  color: #0a0a16;
}

.p2 {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 27px;
  font-weight: normal;
  font-size: 19px;
  color: #222222;
  padding-top: 13px;
  padding-bottom: 13px;
}

.p3 {
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
  line-height: 27px;
  font-weight: normal;
  font-size: 17px;
  color: #222222;
}

.bold {
  font-weight: 600;
  color: #212529;
}

.bg-light {
  background-color: #FAFAFA!important;
}

body {
  background-color: #FAFAFA!important;
  font-family: 'avertastd1', Arial, Helvetica, sans-serif;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #007BFF;
    font-family: 'avertastd2', Arial, Helvetica, sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: normal;
    font-family: 'avertastd1', Arial, Helvetica, sans-serif;
}

.btn {
  padding: .55rem 1.25rem;
}

.rounded {
  border-radius: .35rem!important;
}

footer {
  padding-bottom: 5px;
}
