html {
  height: 100%;
}

body {
  height: 100%;
}

.col-md-7 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.col-md-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mb-0 {
  color: #BBBBBB;
}

.mb-0:hover {
  color: #FFFFFF;
}

#Header {
  padding-top: 25px;
}

#about {
  padding-top: 25px;
}

#logo {
  height: 50px;
  width: 150px;
}

@@font-face {
  font-family: "Druk Wide"
  src: url("css/fonts/DrukWideMedium.ttf");
}

h1 {
  font-family: 'Druk Wide', Arial, sans-serif;
  font-size: 2em;
  color: rgb(51, 51, 51);
}

h2 {
  font-family: 'Druk Wide', Arial, sans-serif;
  font-size: 1.75em;
  color: rgb(51, 51, 51);
}

h3 {
  font-family: 'Druk Wide', Arial, sans-serif;
  font-size: 1.45em;
  color: rgb(51, 51, 51);
}

p {
  color: #2e2a2a;
}

.bg-dark {
  background-color: #151515!important;
}

@media screen and (min-width: 992px) {
  #contact {
    position: absolute;
    bottom: 0;
    height: 72px;
    width: 100%;
  }
}
